*{
    padding:0;
    margin:0;
}
body{
  font-family: "Young Serif", serif;

}
.container{
    padding:50px;
}
.section-one{
    padding: 20px;
    background-color: black;
    color: white;
}
.section-one_contact{
    background-color:orangered;
    color: white;
    text-decoration:none;
    padding-right:10px;
    padding-right:10px;
    padding-top 5px;
    padding-bottom:5px;
    display:inline-block;
    margin-top:20px;
}
.section-one_name{
    font-size: 60px;
}

.section-one_role{
    font-size:30px;
    margin-top:10px;
}

.section-two,.section-three,.section-four,.section-five{
    margin:20px;
}

.section-two_desc,.section-three_desc,.section-four_desc,.section-five_desc{
    margin-top:20px;
}

.section-three li{
    list-style: none;
}
.section-three{
    background-color: #6462fd;
    color:black;
    padding:20px;
    display:inline-block;
    height:200px;
    border-radius:10px;
    vertical-align: top;
}


.section-four{
    background-color:orangered;
    color:black;
    padding:20px;
    display:inline-block;
    height:200px;
    border-radius:10px;
    vertical-align:top;

}


.section-five{
    background-color:black;
    color:white;
    padding:20px;
    height: 100px;

}

.contact-form{
    margin:20px;

}
 .contact-form_input,.contact-form_textarea,.contact-form_submit{
    margin-top:10px;
 }

 .contact-form_input{
    padding:10px;
    border:none;
    border-bottom:solid black 1px;
    
 }

  .contact-form_textarea{
    padding:10px;
    border:none;
    border-bottom:solid black 1px;
    
 }

  .contact-form_submit{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    background-color:orangered;
    color:black;

    
 }